<%= @event.lat%>, <%= @event.lng %>
<%= link_to "수정하기", edit_event_path(@event) %>
<%= link_to "삭제하기", event_path(@event), method: 'delete' %>
<%= link_to "전체보기", :back %>


<a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
  </div>
</div>


<script>
  $(document).ready(function(){
  // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
  $('.modal-trigger').leanModal();
  });    
  $('#modal1').openModal();
</script>
